{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">KTU</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">KULDER</a>
                                </li>
                                <li class="breadcrumb-item active">Executive</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- /Page Header -->


                <div class="row">
                    <div class="col-sm-12">

                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-center table-hover datatable">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Profession</th>
                                            <th>Possition</th>
                                            <th class="text-right">More</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for executive in executives %}
                                            <tr>
                                                {% if executive.profile_pic %}
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="{% url 'executive-detail' executive.slug %}"
                                                               class="avatar avatar-sm mr-2"><img
                                                                    class="avatar-img rounded-circle"
                                                                    src="{{ executive.profile_pic.url }}"
                                                                    alt="User Image"></a>
                                                            <a href="#">{{ executive.name }}</a>
                                                        </h2>
                                                    </td>
                                                {% else %}
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="{% url 'executive-detail' executive.slug %}"
                                                               class="avatar avatar-sm mr-2"><img
                                                                    class="avatar-img rounded-circle"
                                                                    src="{% static 'assets/img/profiles/avatar-02.jpg' %}"
                                                                    alt="User Image"></a>
                                                            <a href="#">{{ executive.name }}</a>
                                                        </h2>
                                                    </td>
                                                {% endif %}

                                                <td>{{ executive.phone }}</td>
                                                <td>{{ executive.email }}</td>
                                                <td>{{ executive.profession }}</td>
                                                <td>{{ executive.possition }}</td>
                                                <td class="text-right">
                                                    <a href="{% url 'executive-detail' executive.slug %}"
                                                       class="btn btn-sm btn-white text-success mr-2"><i
                                                            class="far fa-eye mr-1"></i> Detail</a>
                                                </td>
                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}